:root {
    --M1: #FDDD9F;
    --M2: #A47F34;
    --A: #8F6FAA;
    --B: #74B98C;
}

body {
    background-color: #f0f0f0;

    font-weight: 400;
    line-height: 1;
    color: #2a2a2a;
}

::-webkit-scrollbar {
    width: 0;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 96vw;
}

.section__titel {
    font-size: 4.7vw;
    line-height: .8;
    margin-bottom: 50px;
}

.btn {
    display: inline-block;

    color: #f0f0f0;
    background-color: #2a2a2a;

    padding: 6px 12px;

    border: none;
    border-radius: 30px;

    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

.btn:hover {
    color: #2a2a2a;
    background-color: #ccc4b9;
}

.logo {
    font-weight: 400;
    color: #2a2a2a;
}

/* header */
.nav__fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    width: 100%;
    z-index: 10;
}

.header-container {
    position: relative;

    max-width: 96vw;

    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;

    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: inline-block;
    font-size: .8vw;
}

.nav {
    flex-wrap: nowrap;
}

.nav__item:not(:last-child) {
    margin-right: 1.7vw;
}

.nav__link {
    position: relative;

    font-size: .7vw;
    color: #2a2a2a;
}

.nav__link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.nav__link:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.nav_mobile {
    display: none;
}

/* hero */
.hero-container {
    height: 95vh;
    margin-bottom: 50px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero__titel {
    font-size: 7vw;
    line-height: .8;
    color: #2a2a2a;
    margin-bottom: 2.7vw;
}

.hero__slogan {
    font-size: .7vw;
}

/* about */
.about__text {
    margin-bottom: 50px;
}

.about__left {
    min-width: 50%;
    margin-right: auto;
}

.about__slogan {
    font-size: 1.4vw;
    line-height: 1;
}

.about__info {
    font-size: .9vw;
    line-height: 1.2;
    font-weight: 300;

    margin-bottom: 40px;
}

.about__btn {
    font-size: 14px;
    line-height: 14px;
}

.about__btn--active {
    position: relative;
    padding-left: 22px;
    display: none;
}

.about__btn--active::before {
    content: " ";
    background-color: #282628;
    position: absolute;
    left: 8px;
    top: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* order */
.order {
    background-color: #74B98C;
    margin: 0;
    padding-bottom: 50px;
}

.order__info {
    margin-bottom: 25px;
}

.order__list {
    font-size: 1.4vw;
    flex-direction: column;

    min-width: 50%;
    margin-right: auto;
}

.list__titel {
    margin-bottom: 1vw;
}

.list__item:not(:last-child) {
    margin-bottom: 1vw;
}

.order__right {
    font-weight: 300;
    font-size: 1.4vw;
}

.order__about {
    margin-bottom: 1vw;
}

.order__tel {
    color: #2a2a2a;
    position: relative;
}

.order__tel::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.order__tel:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* form */
.order__form {
    max-width: 60vw;
    display: none;

    transform-origin: bottom top;
    transform: translateY(-100%);
    transition: transform .5s ease-in-out;
}

.form__titel {
    margin-bottom: 2vw;
    cursor: pointer;

    position: relative;
}

.form--active {
    display: block;
    transform: translateY(0%);
}

.form__exp {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
}

.form__avalid {
    align-items: center;

    margin-bottom: 2vw;
}

.form__accept {
    margin-right: 1vw;
}

.form__label {
    font-size: 1.4vw;
    font-weight: 300;
    margin-bottom: 5px;
}

.form__input {
    font-size: 1.5vw;
    width: 100%;
}

/* menu__mobile */
.menu_mobile {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--B);
}

.menu_list_mobile {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav_mobile__item:not(:last-child) {
    margin-bottom: 3vw;
}

.nav_mobile__link {
    color: var(--M1);
    font-size: 10vw;
}

.menu_mobile--active {
    display: block;
}

.menu__close {
    position: absolute;
    top: 15px;
    right: 15px;
}

/* footer */
.footer-container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    max-width: 96vw;

    font-size: .6vw;
    line-height: 1;
}

.footer__wrapper {
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #2a2a2a;
}

.footer__logo {
    display: inline-block;
    width: 50%;
}

.footer__right {
    width: 50%;
    justify-content: space-between;
}

.social {
    align-items: center;
}

.social__link {
    color: #2a2a2a;
    position: relative;
}

.social__link:not(:last-child) {
    margin-right: 110px;
}

.social__link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.social__link:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.upper {
    display: inline-block;
    position: relative;
    color: #2a2a2a;
}

.upper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.upper:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
}